<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<!-- Leave empty for now (used only if needed for EF custom configs) -->
	</configSections>

	<connectionStrings>
		<add name="SensorDbContext"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=TemperatureConsistencyDb;Integrated Security=True;MultipleActiveResultSets=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>
