<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
	<add name="SensorDbContext" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=TemperatureConsistencyDb;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>
